@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&display=swap');

html,
body {
    height: 80%;
    overflow: hidden;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h1 {
    font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kanit', sans-serif;
}

p {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}



